*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  padding: 133px 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  max-width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.search-form__label {
  width: fit-content;
}

.search-form__textfield {
  background-color: transparent;
  width: 225px;
  height: 27px;
  font-size: 18px;
  font-family: Fira Sans Condensed;
  border: none;
  padding: 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  justify-content: space-between;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  min-width: 19px;
  min-height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__checkbox:checked + span {
  background-color: #fff;
  background-clip: content-box;
}

.search-form__label:has([type='checkbox']):hover {
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.more-button {
  width: 399px;
  height: 34px;
  margin: 2px;
}

.content__details {
  width: 100%;
  min-height: 534px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  line-height: 90%;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}